<html xmlns:th="https://thymeleaf.org">
<head>

<title>
</title>
</head>
<body>
<h2>Welcome</h2>
<ul>
<li><a href="login">Login</a></li><br><br>
<li><a href="signup">Signup for Author</a></li><br><br>
<li><a href="showallauthor">Show all author</a></li><br><br>
<li><a href="signup_publisher">Sign up for Publisher</a></li><br><br>
<li><a href="showallpublisher">Show all Publisher</a></li><br><br>
<li><a href="signup_booktitle">Sign up for BookTitle</a></li><br><br>
<li><a href="showallbooks">Show all Books</a></li><br><br>
</ul>

</body>

</html >