<html xmlns:th="https://thymeleaf.org">
<head>

<title>
</title>
</head>
<body>

<h2>Details of Publisher</h2>
<p>Publisher ID :-<span th:text="${publisher.pubid}"></span ></p>
<p>Publisher Name :-<span th:text="${publisher.publisher_name}"></span></p>
<p>Publisher Email :-<span th:text="${publisher.email}"></span></p>
<p>Publisher Address :-<span th:text="${publisher.address}"></span></p><br>
<!--<td><a href="edit">Edit user</a> || <a href="delauthor">Delete Author</a></td> -->

<td><a href="signup_publisher">Back to home page</a></td>
</body>


</html >