<html xmlns:th="https://thymeleaf.org">
<head>

<title>
</title>
</head>
<body>
<form action="savepublisher" method="post">
<table align="center">
<tr>
<td>Enter Publisher ID</td>
<td><input type="text" name="pubid"</td>
</tr>
<tr>
<td>Enter Publisher Name</td>
<td><input type="text" name="publisher_name"</td>
</tr>
<tr>
<td>Enter Publisher Email</td>
<td><input type="email" name="email"</td>
</tr>
<tr>
<td>Enter Publisher Address</td>
<td><input type="textarea" name="address"</td>
</tr>

<tr>
<td colspan="2"><input type="submit" value="Signup"</td>
</tr>
</table>

</form>
</body>

</html >